<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
   <add key="ClientId" value="1950a258-227b-4e31-a9cf-717495945fc2" />
   <add key="RedirectUri" value="urn:ietf:wg:oauth:2.0:oob" />
   <add key="SubscriptionId" value="07ee4d7d-00ae-4ebd-b4fd-ff11533f5667" />
   <add key="ActiveDirectoryTenantId" value="4d387489-ee46-428c-a284-31fd15314024" />
 </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>